.header {
  border-radius: 0%;
  margin: 0%;
  padding: 1%;
  background-color: rgba(44, 2, 10, 0.567);

}

.body{
  background-color: #E2E8F0;
  min-height: calc(100vh - 10rem);
  width: 100%;

}

.main-body {
  padding: 4%;
  min-height: calc(100vh - 10rem);
  width: 100%;
}

.logo-image {
  width: 12%;
  height: auto;
  border-radius: 40%;
  overflow: auto;
  margin:   1%;
}